@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css");

* {
  font-family: "Rubik";
  font-size: 1rem;
}

textarea {
  height: 200px !important;
  resize: none !important;
}
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

svg {
  height: 1rem;
}

.card {
  box-shadow: 0px 0px 40px 0px rgb(82 63 105 / 12%);
  border: 0;
  margin-bottom: 15px;
  height: calc(100% - 15px);
}

.card-header {
  background: none;
  border: none;
  margin: 0.5rem 0;
}
.card-title {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.card-body {
  padding-top: 0;
}
